@import '~@fluentui/react/dist/sass/References.scss';


.ProjectDetailsPage{
    @include ms-Grid-col;
    @include ms-lg12;
    @include ms-xl12;
    @include ms-sm12;
    @include ms-xlPush2;
    @include ms-lgPush1;
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    position: inherit;
  }
.projectDetailsAndFasWrapper{
    @include ms-Grid-col;
    @include ms-lg8;
    @include ms-xl8;
    @include ms-sm12;
    @include ms-xlPush2;
    @include ms-lgPush1;
    height: auto;
    padding-right: 0 !important;
    padding-left: 0 !important;
    position:static;
}
.projectDetailsWrapper{
    @include ms-Grid-row;
    @include ms-lg12;
    @include ms-xl12;
    @include ms-sm12;
    @include ms-xlPush2;
    @include ms-lgPush1;
    display: flex;
    height: auto;
    margin: auto;
    padding: 5px;

}
.projectFasWrapper{
    @include ms-Grid-row;
    @include ms-lg12;
    @include ms-xl12;
    @include ms-sm12;
    @include ms-xlPush2;
    @include ms-lgPush1;
    height: auto;
    margin: auto;
    padding-top: 15px;
}
.projectDetailButtonsWrapper{
    @include ms-Grid-col;
    @include ms-lg4;
    @include ms-xl4;
    @include ms-sm12;
    @include ms-xlPush2;
    @include ms-lgPush1;
    height: 300px;
    padding: 0px 5px 0px 5px;
    position: static;
}

.projectListItemsAndDocWrapper{
    @include ms-Grid-col;
    @include ms-lg12;
    @include ms-xl12;
    @include ms-sm12;
    @include ms-xlPush2;
    @include ms-lgPush1;
    height: 150px;
    display: flex;
    position: static;
    padding-right: 0 !important;
    margin-top: 25px;
    padding-left: 0 !important;
   
}
.projectDetailColumnOne{
    @include ms-Grid-col;
    @include ms-lg6;
    @include ms-xl6;
    @include ms-sm12;
    @include ms-xlPush2;
    @include ms-lgPush1;
    padding-right: 0 !important;
    padding-left: 0 !important;
    position: inherit;
    margin: 0px;

}
.projectDetailColumnTwo{
  @include ms-Grid-col;
  @include ms-lg3;
  @include ms-xl3;
  @include ms-sm12;
  @include ms-xlPush2;
  @include ms-lgPush1;
  padding-right: 0 !important;
  padding-left: 0 !important;
  position: inherit;
  margin: 0px;

}
.projectDetailColumnThree{
  @include ms-Grid-col;
  @include ms-lg3;
  @include ms-xl3;
  @include ms-sm12;
  @include ms-xlPush2;
  @include ms-lgPush1;
  padding-right: 0 !important;
  padding-left: 0 !important;
  position: inherit;
  margin: 0px;
}
.activityColumn{
  @include ms-Grid-row;
  @include ms-lg3;
  @include ms-xl3;
  @include ms-sm12;
  @include ms-xlPush2;
  @include ms-lgPush1;
  color: white;
  margin: 0px;
  background-color: rgb(71, 88, 78);
}
.ataColumn{
  @include ms-Grid-row;
  @include ms-lg3;
  @include ms-xl3;
  @include ms-xlPush2;
  @include ms-lgPush1;
  color: white;
  margin: 0px;
  background-color: rgb(83, 142, 108);
}
.documentColumn{
  @include ms-Grid-row;
  @include ms-lg3;
  @include ms-xl3;

  @include ms-xlPush2;
  @include ms-lgPush1;
  color: white;
  margin: 0px;
  background-color: rgb(53, 91, 67);
}
.controllPointColumn{
  @include ms-Grid-row;
  @include ms-lg3;
  @include ms-xl3;

  @include ms-xlPush2;
  @include ms-lgPush1;
  margin: 0px;
  background-color: rgb(124, 160, 138);
}
.cardTitle {
  color: #000;
  font-size: 20px;
  font-weight: 600;
  font-style: bold;
  height: auto;
  text-transform: uppercase;
  padding: 4px 0 2px 5px;
  }
  .cardItemProperties{
    font-size: 16px;
    font-weight: 300;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    height: auto;
    padding: 4px 0px 2px 5px;
  }
  .stepsDescription{
    font-size: 16px;
    font-weight: 300;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    padding: 5px 10px 2px 10px;
    background-color: #f1f1f16e;
    border-radius: 5px;
  }
  .cardModifiedItemLabel{
    display: block;
    font-size: 12px;
    line-height: 15px;
    height: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: rgb(96, 94, 92);
    padding: 4px 0px 2px 16px;
  }

@media (max-width: 640px)  {
  // .projectDetailColumnThree{
  //   visibility: hidden;
  // }
  .projectDetailsWrapper{
    @include ms-Grid-row;
    @include ms-lg12;
    @include ms-xl12;
    @include ms-sm12;
    @include ms-xlPush2;
    @include ms-lgPush1;
    display: flex;
    flex-direction: column;
    height: auto;
    margin: auto;
    background-color: #e3dceb3b;
    padding: 5px 10px 2px 10px;
  }
  .projectDetailColumnOne{
    @include ms-Grid-col;
    @include ms-lg10;
    @include ms-xl10;
    @include ms-sm12;
    padding-right: 0 !important;
    padding-left: 0 !important;
    position: inherit;
    margin: 0px;
  }
  .projectDetailColumnTwo{
    @include ms-Grid-col;
    @include ms-lg10;
    @include ms-xl10;
    @include ms-sm12;
    padding-right: 0 !important;
    padding-left: 0 !important;
    position: inherit;
    margin: 0px;
  }
  .projectDetailColumnThree{
    @include ms-Grid-col;
    @include ms-lg10;
    @include ms-xl10;
    @include ms-sm12;
    padding-right: 0 !important;
    padding-left: 0 !important;
    position: inherit;
    height: 200px;
    margin: 0px;
 
  }
  .projectDetailButtonsWrapper{
    @include ms-Grid-col;
    @include ms-lg12;
    @include ms-xl12;
    height: 130px;
    margin-top: 20px;
  }
  
}
