@import '~@fluentui/react/dist/sass/References.scss';

.projectPortal {
  overflow: hidden;
  padding: 1em;
  color: "[theme:bodyText, default: #323130]";
  color: var(--bodyText);
  &.teams {
    font-family: $ms-font-family-fallbacks;
  }
}
.NavigationWrapper{
  background-color: none;
}
.welcome {
  text-align: center;
}
.startPageWrapper{
  padding-top: 40px;
}
.myProjectsCol{
  background-color: cadetblue;
  @include ms-Grid-col;
  @include ms-lg4;
  @include ms-xl4;
  @include ms-xlPush2;
  @include ms-lgPush1;
}
.myActivitiesCol{
  background-color: aquamarine;
  @include ms-Grid-col;
  @include ms-lg7;
  @include ms-xl7;
  @include ms-xlPush2;
  @include ms-lgPush1;
}
.welcomeImage {
  width: 100%;
  max-width: 420px;
}
.buttonWrapper{
  padding-top: 10px;
}
.links {
  a {
    text-decoration: none;
    color: "[theme:link, default:#03787c]";
    color: var(--link); // note: CSS Custom Properties support is limited to modern browsers only

    &:hover {
      text-decoration: underline;
      color: "[theme:linkHovered, default: #014446]";
      color: var(--linkHovered); // note: CSS Custom Properties support is limited to modern browsers only
    }
  }
}