@import '~@fluentui/react/dist/sass/References.scss';

.projectPortal {
  overflow: hidden;
  padding: 1em;
  color: "[theme:bodyText, default: #323130]";
  color: var(--bodyText);
  &.teams {
    font-family: $ms-font-family-fallbacks;
  }
}
.NavigationWrapper{
  @include ms-Grid-col;
  @include ms-lg12;
  @include ms-xl12;
  @include ms-sm12;
  @include ms-xlPush2;
  @include ms-lgPush1;
  background-color: none;
  position: static;
}
.welcome {
  text-align: center;
}
.startPageWrapper{
  @include ms-Grid-col;
  @include ms-lg12;
  @include ms-xl12;
  @include ms-sm12;
  @include ms-xlPush2;
  @include ms-lgPush1;
  width: 100;
  height: auto;
  position: inherit;
  padding: 10px 5px 10px 5px;
}
.newProjectTopNav{
@include ms-Grid-col;
  @include ms-lg12;
  @include ms-xl12;
  @include ms-sm12;
  @include ms-xlPush2;
  @include ms-lgPush1;
  height: auto;
  position: static;
  padding: 5px 5px 5px 5px;
  background-color: #f1f1f16e;
}
.portalImage{
  @include ms-Grid-col;
  @include ms-lg12;
  @include ms-xl12;
  @include ms-sm12;
  @include ms-xlPush2;
  @include ms-lgPush1;
  width: 100%;
  position: initial;
}
.newProjectForm{
  box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 5px 0px;
  @include ms-Grid-col;
  @include ms-lg8;
  @include ms-xl8;
  @include ms-sm12;
  @include ms-xlPush2;
  @include ms-lgPush1;
  padding: 30px 30px 30px 30px;
  margin-top: 40px;
  position: static;
}

.newProjectWrapper{
  @include ms-Grid-col;
  @include ms-lg12;
  @include ms-xl12;
  @include ms-sm12;
  @include ms-xlPush2;
  @include ms-lgPush1;
  width: 100;
  height: auto;
  position: static;
  padding-top: 10px;
}
.myProjects{
  width: 100%;
}
.projectActivityWrapper{
  padding: 1px 1px 1px 1px;
}
.myProjectsColumn{
  @include ms-Grid-col;
  @include ms-lg4;
  @include ms-xl4;
  @include ms-sm12;
  @include ms-xlPush2;
  @include ms-lgPush1;
  margin-top: 40px;
  position: static;
}
.myActivitiesColumn{
  @include ms-Grid-col;
  @include ms-lg8;
  @include ms-xl8;
  @include ms-sm12;
  @include ms-xlPush2;
  @include ms-lgPush1;
  margin-top: 40px;
  position: static;
}
.newProjectHeaderText{
  font-size: 18;
  font-weight: 400;
}
.newProjectInfoText{
  @include ms-Grid-col;
  @include ms-lg4;
  @include ms-xl4;
  @include ms-sm12;
  @include ms-xlPush2;
  @include ms-lgPush1;
  font-size: 18;
  font-weight: 400;
  padding: 40px 0px 15px 16px;
  position: static;
}
.documentCardTitle{
  height: 23px;
  padding: 1px 8px;
}
.welcomeImage {
  width: 100%;
  max-width: 420px;
}
.imageWrapper{
 background-color: #e7e7e7;
}
.buttonWrapper{
  padding-top: 10px;
  float: right;
}
@media (max-width: 1026px) {
  .NavigationWrapper { display: none; }
}

.links {
  a {
    text-decoration: none;
    color: "[theme:link, default:#03787c]";
    color: var(--link); // note: CSS Custom Properties support is limited to modern browsers only

    &:hover {
      text-decoration: underline;
      color: "[theme:linkHovered, default: #014446]";
      color: var(--linkHovered); // note: CSS Custom Properties support is limited to modern browsers only
    }
  }
}