@import '~@fluentui/react/dist/sass/References.scss';

.allProjectsWrapper{
    @include ms-Grid-col;
    @include ms-lg12;
    @include ms-xl12;
    @include ms-sm12;
    @include ms-xlPush2;
    @include ms-lgPush1;
    width: 100;
    height: auto;
    position: static;
    padding-top: 10px;
  }
.pivotWrapper{
  @include ms-Grid-col;
  @include ms-lg10;
  @include ms-xl10;
  @include ms-sm12;
  @include ms-xlPush2;
  @include ms-lgPush1;
  padding: 30px 0px 30px 0px;
}
.allProjectsTopNav{
    @include ms-Grid-col;
      @include ms-lg10;
      @include ms-xl10;
      @include ms-sm12;
      @include ms-xlPush2;
      @include ms-lgPush1;
      height: auto;
      padding: 15px 15px 15px 15px;
      background-color: #f1f1f16e;
}
.allProjectsHeaderText{
        font-size: 18;
        font-weight: 400;
}    
.allProjectsInfoText{
    @include ms-Grid-col;
    @include ms-lg4;
    @include ms-xl4;
    @include ms-sm12;
    @include ms-xlPush2;
    @include ms-lgPush1;
    font-size: 18;
    font-weight: 400;
    padding: 30px 30px 30px 30px;
  }
  .imageWrapper{
    background-color: #e7e7e7;
   }
   .documentCardTitle{
    height: 23px;
    padding: 1px 8px;
  }

  .pivotItems{
    box-shadow : rgba(0, 0, 0, 0.4) 0px 0px 5px 0px;
    display: flex;
    align-items: stretch;
    margin-bottom: 40px;
    padding: 20px;
    margin-top: 6px;
    box-sizing: border-box;
    justify-content: flex-start;
    column-gap: 10px;
    padding: 20px;
  }

  @media screen and (max-width: 990px) {
    .pivotItems {
      height: auto;
      display: block;
    }
  }